<section class='container'>

    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <h2>HTML/CSS Style Guide</h2>
    <p>This was thrown together using Express + Handlebars + LESS.</p>

    <h3>The LESS Structure</h3>
    <p>Check out the <code>/stylesheets</code> directory.
    It contains a variety of files that get compiled at runtime.
    If you're unfamiliar with <strong>Less</strong>,
    <a href="http://lesscss.org/" target="_blank">check out the official website</a>.</p>

    <h4>Questions/Comments?</h4>
    <p>Email me at <a href="mailto:jamest@ga.co">jamest@ga.co</a> or message me on slack <em>@jamest</em>.</p>

</section>
