<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="banner">
        <div class="masthead">
            <div id="ga-logo">
                <a href="#" id="homepage"><img alt="General Assembly" src="/images/ga-lookup-64.png"></a>
            </div>
        </div>
    </div>
    {{{body}}}
  </body>
</html>

